<!DOCTYPE html>
<html lang="en" th:fragment="header">
                <!--해당 태그에 플러그 이름 정하기-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>


        <!--사용자정의css호출 : 기본 불러오기 위치가 static부터 시작-->
        <link rel="stylesheet" href="/main.css">
    <!-- <link rel="stylesheet" th:href="@{/css/main.css"}> -->
</head>
<body>
    <h3>헤더</h3>
    <!-- 제이쿼리cdn -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- 자용자정의 js -->
    <script src="/main.js"></script>
</body>
</html>