<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:replace="header.html:: header"></div>
    <!-- th문법 : 타임리프 문법-->
    <!--해당 파일의 플러그 불러오기-->
    <!-- th:replace = "파일명.html :: 플러그이름"-->

    <h3>ㅇ인텔리제이에서작성한html</h3>
    <div>인텔리제이 커뮤니티(무료) : html제공</div>
    <div>인텔리제이 커뮤니티(무료) : js, css 제공</div>
    <div>자동완성을 제공하지 않은 언어들은 자동완성 프로그램 설치 = tabnine</div>

    <div>html에 html포함</div>
        <p>타임리프 이용한 다른 html 가져오기</p>
    <div>java에서 넘어온 데이터 호출</div>
    <div th:text=="${data}"></div>
    <div

    <div th:replace="footer.html :: footer"></div>

</body>
</html>